@media screen and (max-width:604px) {

    /* .m10 pre{
        font-size: 1.5vw;
    } */

}



@media screen and (max-width:778px) {



    .m8 {

        /* background-color: red; */
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;

        background-color:  #02091b;



    }

    .m9 {
        margin: 0px 0px 0px 0px;
        width: 58vw;
        height: 73vw;
        box-sizing: border-box;

        /* flex-direction: row;
        align-items: center;
        justify-content: center; */
    }

    .m10 {

        width: 100vw;

        /* display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center; */
        margin: 0px 0px 0px 0px;
        padding: 0px;
        box-sizing: border-box;
        overflow-wrap: break-word;
    }




}